body{
    background-color: gray;
}    
p{
    color: white;
    font-size: 42px;
    text-align: center;
    font-family: arial;
}
.title{
    font-size: 72px;
    font-weight: bold;
    font-family: 'Ms Madi', cursive;
    font-family: 'Orbitron', sans-serif;
}    